#input{
    width:100%;
    min-height: 200px;
}

#gen{
    display: block;
    margin-right: 15%;
}

#workArea{
    display: block;
    position: absolute;
    top: -999px;
}

#workWord{
    margin: 0;
    padding: 0;
}

/*CSS Ouput*/
.vert{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cloudWord{
    display: inline-block;
}