#input{
    width:100%;
    min-height: 200px;
}

#gen{
    display: block;
    margin-right: 15%;
}

#workArea{
    display: block;
    position: absolute;
    top: -999px;
}

#workWord{
    margin: 0;
    padding: 0;
}

.vert{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}